<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PizzaPlanet</title>
	
	<link rel="stylesheet" href="/assets/css/themes/pizza.min.css" />
	<link rel="stylesheet" href="/assets/css/themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$( function() {
			$( "#datepicker" ).datepicker();
			$( "#datepicker2" ).datepicker();
		} );
  	</script>
</head>

<body>
	<!-- Start of first page: #one -->
	<div data-role="page" id="one">
		<div data-role="header">
			<!-- <h1>Out of this World Pizza</h1>-->
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Welcome!</h2>
			<br>
	        Welcome to the application, login or register.

			<h3>Show internal pages:</h3>
			<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
			<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>
		</div><!-- /content -->

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

	<!-- Start of page: #customer -->
	<div data-role="page" id="customer" data-theme="a">

		<div data-role="panel" data-position="right" id="orderDetails" data-display="overlay">
				<div id="ordercontent"></div>
				<div id="error"></div>
				<div id="temp"><br><p><img src='/assets/img/ajax-loader.gif' width="100%"></p></div>
				<button id='placeOrder'>Complete Order</button>
				<a href="#" id="refreshCart" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left" data-rel="close">Close</a>
   			 <!-- panel content goes here -->
			</div><!-- /panel -->

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Customer Page</h1>
		</div><!-- /header -->
		<div role="main" class="ui-content">
			<div id="orderOptions">
				<h2>Menu</h2>
				<h3>Pizza</h3>
				<fieldset data-role="controlgroup">
			        <input type="radio" name="pizza" id="pizza2" value="hawaiian" checked>
			        <label for="pizza2">Hawaiian (Pineapple and Ham)</label>
			        <input type="radio" name="pizza" id="pizza3" value="newyork">
			        <label for="pizza3">New Yorker (Pepperoni)</label>
			        <input type="radio" name="pizza" id="pizza4" value="housespecial">
			        <label for="pizza4">House Special (Chicken, Sweetcorn, Bacon)</label>
			        <input type="radio" name="pizza" id="pizza1" value="custom">
			        <label for="pizza1">Custom (Choose Toppings Below)</label>
	    		</fieldset>

	    		<div id="toppings">
					<select name="toppingselect" id="toppingselect" multiple="multiple" data-native-menu="false" data-icon="grid" data-iconpos="left">
						<label for="toppingselect" class="select">Toppings</label>
					    <option>Additional Toppings</option>
					    <optgroup label="All Toppings €1 Each">
					        <option value="Ham">Ham</option>
					        <option value="Chicken">Chicken</option>
					        <option value="Pepperoni">Pepperoni</option>
					        <option value="Sweetcorn">Sweetcorn</option>
					        <option value="Tomato">Tomato</option>
					        <option value="Peppers">Peppers</option>
					        <option value="Bacon">Bacon</option>
					    </optgroup>
					</select>
				</div>
				<fieldset data-role="controlgroup" data-type="horizontal" >
    				<legend>Size of Pizza:</legend>
			        <input type="radio" name="size" id="size1" value="_s" checked>
			        <label for="size1">Small - €5</label>
			        <input type="radio" name="size" id="size2" value="_m">
			        <label for="size2">Medium - €10</label>
			        <input type="radio" name="size" id="size3" value="_l">
			        <label for="size3">Large - €11</label>
				</fieldset>

				<button id="addOrder">Add to Order</button>
				
				<h3>Sides - €5 Each</h3>
				<label for="side1">Garlic Bread</label>
				<input type="range" class="slide" name="GarlicBread" id="GarlicBread" value="0" min="0" max="10">
				<label for="side2">Potato Wedges</label>
				<input type="range"class="slide" name="PotatoWedges" id="PotatoWedges" value="0" min="0" max="10">
				<h3>Drinks - €1 Each</h3>
				<label for="drink1">Coke 330ml</label>
				<input type="range" class="slide"name="Coke" id="Coke" value="0" min="0" max="10">
				<label for="drink2">Fanta 330ml</label>
				<input type="range" class="slide"name="Fanta" id="Fanta" value="0" min="0" max="10">
				<label for="drink3">Sprite 330ml</label>
				<input type="range" class="slide"name="Sprite" id="Sprite" value="0" min="0" max="10">
				<!--<button id="updateOrder">Update Order</button>-->

	    		<label for="comments">Comments</label>
	    		<textarea name="comments" id="comments"></textarea>
				<button id="viewCart">View Cart</button>
				<p><a href="#one" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>
				<button id="resetOrder">Reset Order</button>
			</div>

			

		</div><!-- /content -->
	
		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of page: #driver -->
	<div data-role="page" id="driver" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Driver Page</h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Weather Forecast</h2>
			<div id="weather"></div>
			<h2>Pending Orders</h2>
			<button class="ui-btn" id="getOrders">Refresh Orders</button>
			<div id="orders"></div>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>

		</div><!-- /content -->

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of page: #manager -->
	<div data-role="page" id="manager" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Manager Page</h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Management Reporting</h2>
			<h3>Select Dates Below</h3>
			<p>From Date: <input type="text" id="datepicker"></p>
			<p>To Date: <input type="text" id="datepicker2"></p>
			<div id="mgmtinfo"></div>
			<h2>View Orders</h2>
			<button class="ui-btn" id="getDateOrders">Load Orders</button>
			<div id="dateOrders"></div>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>

		</div><!-- /content -->

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->


	<!-- Start of page: #login -->
	<div data-role="page" id="login" data-theme="a">
		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="50%"></center>
			<br>
			<h1>Login page</h1>
		</div><!-- /header -->
	    <div role="main" class="ui-content">
			<h2>Login</h2>
			Username <input type="text" name="login_username" id="login_username" value="">
			Password <input type="password" name="login_pass" id="login_pass" value="">
			<button class="ui-btn" id="loginButton">Submit</button>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back</a></p>
		</div><!-- /content -->
	</div>

<!-- Start of page: #register -->
	<div data-role="page" id="register" data-theme="a">
		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Register</h1>
		</div><!-- /header -->
		<div role="main" class="ui-content">
			<h2>Register</h2>
			<form id="myform">
				<div id="errors"></div>
				Username <input type="text" name="email" id="email" value="">
				Password <input type="password" name="password" id="password" value="">
				Confirm Password <input type="password" name="password2" id="password2" value="">
				<!--AccType <input type="text" name="acctype" id="acctype" value="">-->
				<div class="ui-field-contain">
				    Account Type
				    <select name="select-custom-21" id="acctype" data-native-menu="false">
				        <option value="choose-one" data-placeholder="true">Please select...</option>
				        <option value="customer">Customer</option>
				        <option value="driver">Driver</option>
				        <option value="manager">Manager</option>
				    </select>
				</div>
				<button class="ui-btn" id="registerButton">Submit</button>
			</form>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back</a></p>
		</div><!-- /content -->
	</div>
	
</body>

<script>

	// template for a product
		class product {
		  	constructor(item, detail, ptype, pname, price, qty) {
			    this.item = item;
			    this.detail = detail;
			    this.ptype = ptype;
			    this.pname = pname;
			    this.price = price;
			    this.qty = qty;
			}
		}

		// define our products
		hawaiian_s = new product("hawaiian_s", "", "pizza", "Hawaiian", 5, 0);
		hawaiian_m = new product("hawaiian_m", "", "pizza", "Hawaiian", 10, 0);
		hawaiian_l = new product("hawaiian_l", "", "pizza", "Hawaiian", 11, 0);
		newyork_s = new product("newyork_s", "", "pizza", "New York", 5, 0);
		newyork_m = new product("newyork_m", "", "pizza", "New York", 10, 0);
		newyork_l = new product("newyork_l", "", "pizza", "New York", 11, 0);
		housespecial_s = new product("housespecial_s", "", "pizza", "House Special", 5, 0);
		housespecial_m = new product("housespecial_m", "", "pizza", "House Special", 10, 0);
		housespecial_l = new product("housespecial_l", "", "pizza", "House Special", 11, 0);
		custom_s = new product("custom_s", "", "pizza", "Custom", 5, 0);
		custom_m = new product("custom_m", "", "pizza", "Custom", 10, 0);
		custom_l = new product("custom_l", "", "pizza", "Custom", 11, 0);
		topping = new product("topping", "", "", "", 1, 0);
		garlicbread = new product("garlicbread", "", "side", "Garlic Bread", 5, 0);
		wedges = new product("wedges", "", "side", "Potato Wedges", 5, 0);
		coke = new product("coke", "", "side", "Coca Cola 330ml", 1, 0);
		sprite = new product("sprite", "", "side", "Sprite 330ml", 1, 0);
		fanta = new product("fanta", "", "side", "Fanta 330ml", 1, 0);
		comm = new product("comment", "", "info", "", 0, 0);
		addr = new product("address", "", "info", "", 0, 0);
		placedby = new product("placedby", "", "info", "", 0, 0);

		var cart = [];
		cart.push(hawaiian_s, hawaiian_m, hawaiian_l, newyork_l, newyork_m, newyork_s, housespecial_l, housespecial_m, housespecial_s, custom_l, custom_m, custom_s, topping, garlicbread, wedges, coke, sprite, fanta, comm, addr, placedby);

	$(document).ready(function(){
		$("#temp").hide();

    	$.getJSON("https://api.openweathermap.org/data/2.5/weather?q=Navan&units=metric&appid=caa18169ba6266374cf3aa835afe0933",function(result){
        	var weather = ("<p>The weather today for "+result.name+ " is "+result.weather[0].description+
        		"<br>Temperature is "+(result.main.temp).toFixed(0)+"℃ and the wind speed is "+(result.wind.speed).toFixed(0)+" km/h</p>");
        	$('#weather').html(weather);
        });
	});

	$("#myForm").children().focus(function(){
		// check email is entered
		var error = "";
		// regex pattern
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

		if($("#email").val() == ""){ // not valid
			error = error + "Please enter an email address.<br>";
			$("#errors").html(error);
		}
		else if(re.test(String($("#email").val()).toLowerCase()) !== true){ // incorrect email
			error = error + "Email not valid.<br>";
			$("#errors").html(error);
		}
		else if($("#password").val() == ""){ // not valid
			error = error + "Please enter a password.<br>";
			$("#errors").html(error);
		} 
		else if($("#password2").val() == ""){ //not valid
			error = error + "Please confirm your password.<br>";
			$("#errors").html(error);
		}
		else if($("#password2").val() !== $("#password").val()){ //not valid
			error = error + "Passwords do not match.<br>";
			$("#errors").html(error);
		}
		else if($("#password").val().length < 8){ //too short
			error = error + "Password too short.<br>";
			$("#errors").html(error);
		}
	});

	$('#getOrders').click(function(){
		getOpenOrders();
	});
	function getOpenOrders(){
	$.post( "/viewAll")
		.done(function(data){
			$("#orders").html(data);
			//console.log(data);
		})
	}
	$('#getDateOrders').click(function(){
		getDateOrders();
	});
	function getDateOrders(){
	var date1 = $("#datepicker").val();
	var date2 = $("#datepicker2").val();
	$.post( "/viewSome", {date1:date1, date2:date2})
		.done(function(data){
			$("#dateOrders").html(data);
			//console.log(data);
		})
	}


	$(document).on('click', ".updateStatus", function (){
		var id = $(this).attr("orderid");
		$.post( "/backend", {type: "statusUpdate", id:id})
		.done(function(data){
			getOrders();
		})
	});

	$('#addOrder').click(function(){
		var topp ="";
		pizza = $("input:radio[name=pizza]:checked").val() + $("input:radio[name=size]:checked").val();
        $('#toppingselect :selected').each(function(i, sel){ 
    		topp = topp + $(sel).val() + " ";
    		topping.qty ++;
		});
		$("#toppingselect").val("").selectmenu("refresh");
		if(topp != ""){
			topp = topp + "/ ";
		}	
		pizza.detail = topp;
		pizza.qty ++;
		//console.log(topp);
		//console.log(pizza);
        //console.log(cart);
    	var arrayLength = cart.length;
    	for (var i = 0; i < arrayLength; i++) { // loop over the products
        	var b = cart[i]; // get one product at a time
	        //console.log(b.item);
	        
	        if(pizza == b.item) {
	            b.qty ++;
	            b.detail = b.detail + topp;
	        }
	    }
	    //console.log(cart);
		
	});
	
	

	function updateOrder(){
		garlicbread.qty = $("#GarlicBread").val();
        wedges.qty = $("#PotatoWedges").val();
        coke.qty = $("#Coke").val();
        fanta.qty = $("#Fanta").val();
        sprite.qty = $("#Sprite").val();
        comm.detail = $("#comments").val();
        //console.log(cart);
	}
				
	$("#placeOrder").click(function(){
		var order3 ='';
		var cost = 0;
		var arrayLength = cart.length-1;
    	for (var i = 0; i < arrayLength; i++) { // loop over the products
        	var b = cart[i]; // get one product at a time
        	cost = cost + (b.qty*b.price);
        	//console.log(cost);
	        if(b.qty > 0 && b.ptype == "pizza") {
	        	var a = b.item;
	        	order3 = order3 + "<b>Pizza: </b>"+ b.pname + "<br><b>Size:</b> " + a.charAt(a.length-1).toUpperCase() + "<br><b>Toppings:</b> " + b.detail.substr(0, b.detail.length-2) + " <b><br>Qty:</b> " + b.qty + "<br>---------<br>";
	    	}
	    	else if (b.qty > 0 && b.ptype == "side"){
	    		order3 = order3 + "<b>Item: </b>" + b.pname + " - <b>Qty:</b> " + b.qty + "<br>";
	    	}
	    }
		var comm = $("#comments").val();
		var addr = $("#address").val();
		order3 = order3 + "<b>Comments: </b>"+ comm + "<br>";
		order3 = order3 + "+=====+"+ addr + "<br>";
		order3 = order3 + "+=====+€" + cost + "<br>";

		if($("#address").val().length < 20){ //too short
			error = "<span>Address too short.</span><br>";
			$("#error").html(error);
			return false;
		}
		else{
			error = "";
			$("#error").html(error);
			addr.detail = $("#address").val();
			$.post( "/backend", {type: "getusername"})
	      	.done(function(data){
	        	placedby.detail = data; // whatever data comes back, store it in the username variable
				//console.log(cart);
				$("#ordercontent").hide();
				$("#placeOrder").hide();
				$("#temp").show();
				$.post( "/backend", {type: "placeOrder", details:order3})
			      .done(function(data){
			        var content = '<h2>Your Order:</h2>';
					content = content + "<br><b>Your order has been placed!</b><br><br>";
					$("#ordercontent").html(content);
					$("#ordercontent").show();
					$("#temp").hide();
					$("#orderDetails").trigger("updatelayout");
					resetCart();
				})
	    	//console.log(order);
	    	})
		}
	});

	$("#refreshCart").click(function(){
		$("#placeOrder").show();
		viewCart();
	});

	$('#resetOrder').click(function(){
		resetCart();
	});

	function resetCart(){
		var arrayLength = cart.length;
    	for (var i = 0; i < arrayLength; i++) { // loop over the products
        	var b = cart[i]; // get one product at a time
	        b.qty = 0;
	        b.detail = "";
	    }
	    $(".slide").val(0).slider("refresh");
	    //console.log(cart);
	}

	$("#viewCart").click(function(){
		viewCart();
		$("#orderDetails").panel("toggle");
	});

	function viewCart(){
		updateOrder();
		var content = '<h2>Your Order:</h2>';
		var cost = 0;
		var arrayLength = cart.length-1;
    	for (var i = 0; i < arrayLength; i++) { // loop over the products
        	var b = cart[i]; // get one product at a time
        	cost = cost + (b.qty*b.price);
        	//console.log(cost);
	        if(b.qty > 0 && b.ptype == "pizza") {
	        	var a = b.item;
	        	content = content + "<b>Pizza: </b>"+ b.pname + "<br><b>Size:</b> " + a.charAt(a.length-1).toUpperCase() + "<br><b>Toppings:</b> " + b.detail.substr(0, b.detail.length-2) + " <b><br>Qty:</b> " + b.qty + "<br><br>";
	    	}
	    	else if (b.qty > 0 && b.ptype == "side"){
	    		content = content + "<b>Item: </b>" + b.pname + " - <b>Qty:</b> " + b.qty + "<br>";
	    	}
	    }
		var comm = $("#comments").val();
		content = content + "<br><br> <b>Order Total: </b> €" + cost + "<br>";
		content = content + "<br><b>Additional Order Comments:</b><br>";
		content = content + comm + "<br><br>";
		content = content + "Please enter your address below<br>";
		content = content + "<textarea name='address'id='address'></textarea>";
		$( "#orderDetails" ).trigger( "updatelayout" );
		$("#ordercontent").html(content);
	}

	$("#loginButton").click(function(){
		var un = $("#login_username").val();
		//console.log(un);
		var pw = $("#login_pass").val();
		//console.log(pw);
		$.post( "/backend", { type: "login", username:un, password:pw})
		.done(function( data ) {
		//alert( "Data Loaded: " + data );
		if(data == 'customer'){
			window.location="/index#customer";	
		}
		else if(data == 'driver'){
			window.location="/index#driver";
		}
		else if (data == 'manager'){
			window.location="/index#manager";
		} 
		else{
			alert( "Undefined: " + data );
		}        
		});	  
	});

	$("#registerButton").click(function(){
		
			var un = $("#email").val();
			//console.log(un);
			var pw = $("#password").val();
			//console.log(pw);
			var at = $("#acctype").val();
			//console.log(at);

			$.post("/backend", { type: "register", username:un, password:pw, acctype:at})
			.done(function(data){
				//alert("Data Loaded: " + data);
				if(data == 'customer'){
					window.location="/index#customer";
				}
				else if(data == 'driver'){
					window.location="/index#driver";
				}
				else if (data == 'manager'){
					window.location="/index#manager";
				} 
				else{
					alert("Undefined: " + data);
				}
			}) 
	});

</script>

</html>
