<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PizzaPlanet</title>
	
	<link rel="stylesheet" href="/assets/css/themes/pizza.min.css" />
	<link rel="stylesheet" href="/assets/css/themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
	<!-- Start of first page: #one -->
	<div data-role="page" id="one">
		<div data-role="header">
			<!-- <h1>Out of this World Pizza</h1>-->
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Welcome!</h2>
			<br>
	        Welcome to the application, login or register.

			<h3>Show internal pages:</h3>
			<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
			<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>
		</div><!-- /content -->

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

	<!-- Start of page: #customer -->
	<div data-role="page" id="customer" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Customer Page</h1>
		</div><!-- /header -->
		<div role="main" class="ui-content">
			<div id="orderOptions">
				<h2>Menu</h2>
				<h3>Pizza</h3>
				<fieldset data-role="controlgroup">
			        <input type="radio" name="pizza" id="pizza2" value="Hawaiian" checked>
			        <label for="pizza2">Hawaiian</label>
			        <input type="radio" name="pizza" id="pizza3" value="New Yorker">
			        <label for="pizza3">New Yorker</label>
			        <input type="radio" name="pizza" id="pizza4" value="House Special">
			        <label for="pizza4">House Special</label>
			        <input type="radio" name="pizza" id="pizza1" value="Custom">
			        <label for="pizza1">Custom (Choose Toppings Below)</label>
	    		</fieldset>

	    		<div id="toppings">
					<select name="toppingselect" id="toppingselect" multiple="multiple" data-native-menu="false" data-icon="grid" data-iconpos="left">
						<label for="toppingselect" class="select">Toppings</label>
					    <option>Toppings</option>
					    <optgroup label="All Toppings €1 Each">
					        <option value="ham">Ham</option>
					        <option value="chicken">Chicken</option>
					        <option value="pepperoni">Pepperoni</option>
					        <option value="sweetcorn">Sweetcorn</option>
					        <option value="tomato">Tomato</option>
					        <option value="peppers">Peppers</option>
					        <option value="bacon">Bacon</option>
					    </optgroup>
					</select>
				</div>
				<fieldset data-role="controlgroup" data-type="horizontal" >
    				<legend>Size of Pizza:</legend>
			        <input type="radio" name="size" id="size1" value="small" checked>
			        <label for="size1">Small - €5</label>
			        <input type="radio" name="size" id="size2" value="medium">
			        <label for="size2">Medium - €10</label>
			        <input type="radio" name="size" id="size3" value="large">
			        <label for="size3">Large - €11</label>
				</fieldset>

				<button id="addOrder">Add to Order</button>
				
				<h3>Sides - €5 Each</h3>
				<label for="side1">Garlic Bread</label>
				<input type="range" name="GarlicBread" id="side1" value="0" min="0" max="10">
				<label for="side2">Potato Wedges</label>
				<input type="range" name="PotatoWedges" id="side2" value="0" min="0" max="10">
				<h3>Drinks - €1 Each</h3>
				<label for="drink1">Coke 330ml</label>
				<input type="range" name="Coke" id="drink1" value="0" min="0" max="10">
				<label for="drink2">Fanta 330ml</label>
				<input type="range" name="Fanta" id="drink2" value="0" min="0" max="10">
				<label for="drink3">Sprite 330ml</label>
				<input type="range" name="Sprite" id="drink3" value="0" min="0" max="10">
				<button id="updateOrder">Update Order</button>

	    		<label for="comments">Comments</label>
	    		<textarea name="comments" id="comments"></textarea>
				<button id="placeOrder">Place Order</button>
				<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>
			</div>

			<div id="orderDetails">
				<div id="orderContent"></div>
				<button id='goBack'>Go back to options</button>
				<button id='completeOrder'>Complete Order</button>
			</div>

		</div><!-- /content -->
	
		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of page: #driver -->
	<div data-role="page" id="driver" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Driver Page</h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Two</h2>
			<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
			<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>

		</div><!-- /content -->

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of page: #manager -->
	<div data-role="page" id="manager" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Manager Page</h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Two</h2>
			<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
			<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>

		</div><!-- /content -->

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->


	<!-- Start of page: #login -->
	<div data-role="page" id="login" data-theme="a">
		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="50%"></center>
			<br>
			<h1>Login page</h1>
		</div><!-- /header -->
	    <div role="main" class="ui-content">
			<h2>Login</h2>
			Username <input type="text" name="login_username" id="login_username" value="">
			Password <input type="text" name="login_pass" id="login_pass" value="">
			<button class="ui-btn" id="loginButton">Submit</button>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back</a></p>
		</div><!-- /content -->
	</div>

<!-- Start of page: #register -->
	<div data-role="page" id="register" data-theme="a">
		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Register</h1>
		</div><!-- /header -->
		<div role="main" class="ui-content">
			<h2>Register</h2>
			<form id="myform">
				<div id="error"></div>
				Email <input type="text" name="email" id="email" value="">
				Password <input type="password" name="password" id="password" value="">
				Confirm Password <input type="password" name="password2" id="password2" value="">
				<!--AccType <input type="text" name="acctype" id="acctype" value="">-->
				<div class="ui-field-contain">
				    Account Type
				    <select name="select-custom-21" id="acctype" data-native-menu="false">
				        <option value="choose-one" data-placeholder="true">Please select...</option>
				        <option value="customer">Customer</option>
				        <option value="driver">Driver</option>
				        <option value="manager">Manager</option>
				    </select>
				</div>
				<button class="ui-btn" id="registerButton">Submit</button>
			</form>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back</a></p>
		</div><!-- /content -->
	</div>
	
</body>

<script>
	$(document).ready(function(){
		$("#orderDetails").hide();
		$("#toppings").hide();
	});

	var formValid = false;

	function validateElements(){
		// check email is entered
		var error = "";
		// regex pattern
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

		if($("#email").val() == ""){ // not valid
			error = error + "Please enter an email address.<br>";
			$("#error").html(error);
			return false;
		}
		else if(re.test(String($("#email").val()).toLowerCase()) !== true){ // incorrect email
			error = error + "Email not valid.<br>";
			$("#error").html(error);
			return false;
		}
		else if($("#password").val() == ""){ // not valid
			error = error + "Please enter a password.<br>";
			$("#error").html(error);
			return false;
		} 
		else if($("#password2").val() == ""){ //not valid
			error = error + "Please confirm your password.<br>";
			$("#error").html(error);
			return false;
		}
		else if($("#password2").val() !== $("#password").val()){ //not valid
			error = error + "Passwords do not match.<br>";
			$("#error").html(error);
			return false;
		}
		else if($("#password").val().length < 8){ //too short
			error = error + "Password too short.<br>";
			$("#error").html(error);
			return false;
		}
		else {
			formValid = true;
			return true;
		}
	}

	$("#myform").click(function(){
		validateElements();
	});


    $("select.country").change(function(){
        var selectedCountry = $(this).children("option:selected").val();
        alert("You have selected the country - " + selectedCountry);
    });

	$('[id=addOrder').click(function(){
	    var p = $(this).attr('productname'); // find out what was clicked
	    var arrayLength = prod.length;
	    for (var i = 0; i < arrayLength; i++) { // loop over the products 
	        var pro = prod[i] // get one product at a time
	        console.log(pro.name);
	        if(p == pro.name) { // check if the product we are looking for is the one we have.
	            console.log(pro.qty);
	            pro.qty = pro.qty + 1; // add one onto the qty
	            $( "#"+pro.name+"Qty" ).val(pro.qty); // if we looking for cookies, pro.name+Qty becomes, cookiesQty
	        }
	        //Do something
	    }
	});
	
	$("input[id=pizza1]").click(function(){
		//alert("clicked");
		$('input[id^=topping]').prop('checked', false);
		$("#toppings").show();
	});
	$("input[id=pizza2]").click(function(){
		//alert("clicked");
		$("#toppings").hide();
	});
	$("input[id=pizza3]").click(function(){
		//alert("clicked");
		$("#toppings").hide();
	});
	$("input[id=pizza4]").click(function(){
		//alert("clicked");
		$("#toppings").hide();
	});

	$("#completeOrder").click(function(){
		var order =  $("#orderContent").html();
		alert(order);
	});

	$("#goBack").click(function(){
		$("#orderOptions").show();
		$("#orderDetails").hide();
	})

	$("#placeOrder").click(function(){

		$("#orderOptions").hide();
		$("#orderContent").show();
		$("#orderDetails").show();

		var content = '<h2>Your Order:</h2><br><b>Pizza Topping:</b><br>';
		
		var comments = $("#comments").val();
		
		var pizza = $("input[name='pizza']").each(function(){
			if(this.checked == true){
				content = content + this.value + ":" + this.checked + "<br>";
			}
		});

		var username = '';
    
	    $.post( "/backend", {type: "getusername"})
	      .done(function(data){
	        username = data; // whatever data comes back, store it in the username variable
			content = content + "<br><b>Additional Order Comments:</b><br>";
			content = content + comments + "<br>";
			content = content + "Thank you for your order " + username;
			
			$("#orderContent").html(content);
		})
	});


	$("#loginButton").click(function(){

		var un = $("#login_username").val();
		console.log(un);

		var pw = $("#login_pass").val();
		console.log(pw);

		$.post( "/backend", { type: "login", username:un, password:pw})
		.done(function( data ) {
		alert( "Data Loaded: " + data );

		if(data == 'customer'){
			window.location="/index#customer";
			
		}
		else if(data == 'driver'){
			window.location="/index#driver";
		}
		else if (data == 'manager'){
			window.location="/index#manager";
		} 
		else{
			alert( "Undefined: " + data );
		}        

		});
	  
	  //alert( "login button pressed!" );
	  
	});

	$("#registerButton").click(function(){
		validateElements();

		if (formValid == true){
			var un = $("#email").val();
			console.log(un);

			var pw = $("#password").val();
			console.log(pw);

			var at = $("#acctype").val();
			console.log(at);

			$.post("/backend", { type: "register", username:un, password:pw, acctype:at})
			.done(function(data){
				alert("Data Loaded: " + data);

				if(data == 'customer'){
					window.location="/index#customer";
				}
				else if(data == 'driver'){
					window.location="/index#driver";
				}
				else if (data == 'manager'){
					window.location="/index#manager";
				} 
				else{
					alert("Undefined: " + data);
				}
			}) 
		} else {
			alert('Issue with validation');
		}
	});

</script>

</html>
