<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PizzaPlanet</title>
	
	<link rel="stylesheet" href="/assets/css/themes/pizza.min.css" />
	<link rel="stylesheet" href="/assets/css/themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
	<!-- Start of first page: #one -->
	<div data-role="page" id="one">
		<div data-role="header">
			<!-- <h1>Out of this World Pizza</h1>-->
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Welcome!</h2>
			<br>
	        Welcome to the application, login or register.

			<h3>Show internal pages:</h3>
			<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
			<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>
		</div><!-- /content -->

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

	<!-- Start of page: #customer -->
	<div data-role="page" id="customer" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Customer Page</h1>
		</div><!-- /header -->
		<div role="main" class="ui-content">
			<div id="orderOptions">
				<h2>Two</h2>
				<fieldset data-role="controlgroup">
			        <legend>Toppings:</legend>
			        <input type="radio" name="pizza" id="radio-choice-v-2a" value="Bacon" checked="checked">
			        <label for="radio-choice-v-2a">Bacon</label>
			        <input type="radio" name="pizza" id="radio-choice-v-2b" value="Chicken">
			        <label for="radio-choice-v-2b">Chicken</label>
			        <input type="radio" name="pizza" id="radio-choice-v-2c" value="Pepperoni">
			        <label for="radio-choice-v-2c">Pepperoni</label>
	    		</fieldset>
	    		<label for="textarea-1">Comments</label>
	    		<textarea name="textarea-1" id="comments"></textarea>
				<button id="placeOrder">Place Order</button>
				<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>
			</div>

			<div id="orderDetails">
				<div id="orderContent"></div>
				<button id='goBack'>Go back to options</button>
				<button id='completeOrder'>Complete Order</button>
			</div>

		</div><!-- /content -->
	
		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of page: #driver -->
	<div data-role="page" id="driver" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Driver Page</h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Two</h2>
			<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
			<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>

		</div><!-- /content -->

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of page: #manager -->
	<div data-role="page" id="manager" data-theme="a">

		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Manager Page</h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<h2>Two</h2>
			<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
			<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to homepage</a></p>

		</div><!-- /content -->

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->


	<!-- Start of page: #login -->
	<div data-role="page" id="login" data-theme="a">
		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="50%"></center>
			<br>
			<h1>Login page</h1>
		</div><!-- /header -->
	    <div role="main" class="ui-content">
			<h2>Login</h2>
			Username <input type="text" name="login_username" id="login_username" value="">
			Password <input type="text" name="login_pass" id="login_pass" value="">
			<button class="ui-btn" id="loginButton">Submit</button>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back</a></p>
		</div><!-- /content -->
	</div>

<!-- Start of page: #register -->
	<div data-role="page" id="register" data-theme="a">
		<div data-role="header">
			<br>
			<center><img src="/assets/img/logo3.png" width="40%"></center>
			<br>
			<h1>Register</h1>
		</div><!-- /header -->
		<div role="main" class="ui-content">
			<h2>Register</h2>
			Username <input type="text" name="username" id="username" value="">
			Password <input type="text" name="pass" id="pass" value="">
			<!--AccType <input type="text" name="acctype" id="acctype" value="">-->
			<div class="ui-field-contain">
			    Account Type
			    <select name="select-custom-21" id="acctype" data-native-menu="false">
			        <option value="choose-one" data-placeholder="true">Please select...</option>
			        <option value="customer">Customer</option>
			        <option value="driver">Driver</option>
			        <option value="manager">Manager</option>
			    </select>
			</div>
			<button class="ui-btn" id="registerButton">Submit</button>
			<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back</a></p>
		</div><!-- /content -->
	</div>
	
</body>

<script>

$("#completeOrder").click(function(){

	var order =  $("#orderContent").html();

	alert(order);
});

$("#goBack").click(function(){
	$("#orderOptions").show();
	$("#orderDetails").hide();
})

$("#placeOrder").click(function(){

	$("#orderOptions").hide();
	$("#orderDetails").show();

	var content = '<h2>Your Order:</h2><br><b>Pizza Topping:</b><br>';

	var comments = $("#comments").val();
	
	var pizza = $("input[name='pizza']").each(function(){
		if(this.checked == true){
			content = content + this.value + ":" + this.checked + "<br>";
		}
	});

	content = content + "<br><b>Additional Order Comments:</b><br>";
	content = content + comments + "<br>";
	
	$("#orderContent").html(content);
});


$("#loginButton").click(function(){

	var un = $("#login_username").val();
	console.log(un);

	var pw = $("#login_pass").val();
	console.log(pw);

	$.post( "/backend", { type: "login", username:un, password:pw})
	.done(function( data ) {
	alert( "Data Loaded: " + data );

	if(data == 'customer'){
		window.location="/index#customer";
		
	}
	else if(data == 'driver'){
		window.location="/index#driver";
	}
	else if (data == 'manager'){
		window.location="/index#manager";
	} 
	else{
		alert( "Undefined: " + data );
	}        

	});
  
  //alert( "login button pressed!" );
  
});

$("#registerButton").click(function(){

	var un = $("#username").val();
	console.log(un);

	var pw = $("#pass").val();
	console.log(pw);

	var at = $("#acctype").val();
	console.log(at);

	$.post( "/backend", { type: "register", username:un, password:pw, acctype:at})
	.done(function( data ) {
	alert( "Data Loaded: " + data );

	if(data == 'customer'){
		window.location="/index#customer";
	}
	else if(data == 'driver'){
		window.location="/index#driver";
	}
	else if (data == 'manager'){
		window.location="/index#manager";
	} 
	else{
		alert( "Undefined: " + data );
	}       

});
  
  //alert( "register button pressed!" );
  
});

</script>

</html>
